/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: #616161;
$body-background-color: #f9f7f5;

//$font-size: 14.5px;

$grid-row-cell-selected-background-color: #dee8ee;

$base-gradient: 'bevel';
$panel-header-background-gradient: 'bevel';
$button-default-background-gradient: 'bevel';
$button-default-background-gradient-disabled: 'bevel';
$button-toolbar-background-gradient: 'bavel';
$toolbar-background-gradient: 'bavel';

